:root {
    --wallpaper: 'wallpaper.png';
    --dark1: #261A1F;
    --dark2: #8C273A;
    --dark3: #8C6B58;
    --dark4: #402C2C;
    --bright1: #F2505D;
    --bright2: #FFECB6;
    --bright3: #FFB29C;
    --bright4: #A1D2DD;
}
